



:root {
    --cor-fundo-principal: #0A1931;
    --cor-secundaria: #172B4D;
    --cor-destaque: #A8C6E3;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-input: #A8C6E390; 
}

body {
   
    background: linear-gradient(to right, var(--cor-fundo-principal), #000000); 
    --cor-fundo-principal: #0A1931; 
    --cor-texto-claro: #FFFFFF; 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: var(--cor-texto-claro);
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 50px; 
    box-sizing: border-box;
   
    background-color: var(--cor-secundaria); 
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px;
    filter: brightness(0) invert(1);
}
.logo-container h1 {
    font-size: 1.2em;
    font-style: italic;
    margin-left: 5px;
    font-family: 'Arial', sans-serif;
    color: var(--cor-texto-claro); 
}


nav div {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav div a {
    font-style: italic;
    color: var(--cor-texto-claro); 
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    transition: color 0.3s;
}
nav div a:hover {
    color: var(--cor-destaque); 
}

main {
    padding-top: 150px; 
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: center;
}

main h1 {
    font-size: 2.6em;
    color: var(--cor-destaque); 
}


.pesquisa-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px; 
}

.pesquisa-input {
    font-size: 1.3em;
    padding: 10px;
    width: 300px;
    border: 1px solid var(--cor-secundaria); 
    background-color: var(--cor-fundo-principal); 
    color: var(--cor-texto-claro);
}
.divider {
    height: 1px;
    background-color: rgba(168, 198, 227, 0.2); 
    margin: 2px 0;
}


.footer-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
}

.footer-copyright {
    color: #FFFFFF; 
    font-weight: 500;
}


.footer-links a {
    color: #A8C6E3;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #FFFFFF; 
}


.footer-certifications {
    text-align: center;
    padding: 1px 0 2px 0;
    line-height: 1.8;
}

.cert-title {
    font-weight: bold;
    color: #FFFFFF; 
    margin-bottom: 5px;
}

.cert-list {
    color: #A8C6E3;
    font-size: 0.85em;
}


@media (max-width: 768px) {
    .footer-primary {
        flex-direction: column;
        text-align: center;
    }
    .footer-copyright {
        margin-bottom: 15px;
    }
    .footer-links a {
        margin: 0 8px;
        display: inline-block;
    }
}
