    :root {
            --bg-color: #0f1a2e;
            --card-bg: #1c2d46;
            --text-color: #e0e0f0;
            --label-color: #a0adc3;
            --primary-color-start: #4a72a8;
            --primary-color-end: #203756;
            --accent-color: #54a0ff;
            --input-bg: #152233;
            --input-text: #c0c0d8;
            --button-secondary-bg: #334661;
            --border-color: #334661;
            --shadow-color: rgba(0, 0, 0, 0.5);
            --active-button-bg: #273952;
            --primary-dark-blue: #0A1931;
        }

        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 97vh;
            
            align-items: center;
        }
        
        body::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, var(--primary-dark-blue) 0%, #000000 100%);
            z-index: -1;
        }
        
        .site-footer {
            padding: 20px 0;
            color: #A8C6E3;
            font-size: 0.9em;
            font-family: 'Inter', sans-serif;
        }
        .footer-content { max-width: 1200px; margin: 0 auto; padding: 0 20px; }
        .divider { height: 1px; background-color: rgba(168, 198, 227, 0.2); margin: 2px 0; }
        .footer-primary { display: flex; justify-content: space-between; align-items: center; padding: 1px 0; }
        .footer-copyright { color: #FFFFFF; font-weight: 500; }
        .footer-links a { color: #A8C6E3; text-decoration: none; margin-left: 20px; transition: color 0.3s; }
        .footer-links a:hover { color: #FFFFFF; }
        .footer-certifications { text-align: center; padding: 1px 0 2px 0; line-height: 1.8; }

        main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1200px;
            gap: 60px;
        }

        /* Coluna esquerda */
        .left { flex: 1; color: white; }
        .logo {
            width: 100px; 
            filter: brightness(0) invert(1);
            
        }

        .left h1 { font-size: 55px; font-weight: 800; margin-bottom: 20px; }
        .left p { font-size: 18px; max-width: 400px; line-height: 1.6; }
        
        .icone-rede-sociais span a  {
            font-size: 26px;
            color: white;
            margin-right: 20px;
            transition: 0.3s;
            text-decoration: none;
            
        }
        .icone-rede-sociais span a:hover { color: #54a0ff; }

        /* Coluna direita */
        .right {
            flex: 1;
            background: rgba(28,45,70);
            padding: 40px 50px;
            border-radius: 12px;
            backdrop-filter: blur(5px);
        }
        .right h1 { margin-bottom: 30px; font-size: 35px; font-weight: 700; }

        .right form { display: flex; flex-direction: column; gap: 20px; }
        .right form div { display: flex; flex-direction: column; }

        .right label { font-size: 15px; margin-bottom: 5px; }

        .right input {
            background: rgba(255,255,255,0.9);
            padding: 12px;
            border-radius: 6px;
            border: none;
            outline: none;
            font-size: 15px;
        }

        .right button {
            background: #ff6600;
            color: white;
            padding: 12px;
            font-size: 16px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
        .right button:hover { background: #e65c00; }

        .right a {
            color: #ddd;
            font-size: 14px;
            text-decoration: none;
            margin-top: -10px;
        }
        .right a:hover { color: white; }