.inicio {
    text-align: center; 
    font-family: 'Arial', sans-serif;
    font-style: italic;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.sobre.nos{
    color: rgb(26, 25, 25);
    font-weight: bold;
    background-color: black;
}
.inicio video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: -100;
}
.sobre-nos {
    color: rgb(233, 233, 233);  
    text-decoration: solid;       
    background-color:;  
    padding: 5px;
    transition: 0,3s;
    color: rgb(253, 253, 253);
    font-size: 1.3em;
}
.sobre-nos:hover {
    color: rgb(65, 65, 65);
    text-decoration: double;
}
header {
    width: 100%;
    position: fixed; 
    top: 0;
    padding: 5px 50px; 
    box-sizing: border-box; 
    background-color: rgba(109, 108, 108, 0.7);
}
.borda {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.nav-links a:hover {
    color: rgb(56, 56, 56);
}
.nav-links {
    display: flex;
    align-items: center;
}
.left{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav-links a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    margin-left: 15px; 
    font-weight: bold;
}
.logo {
    width: 100px; 
    filter: brightness(0) invert(1);
}
.bem-vindo {
    text-align: center;
}
h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px; 
}
h2 {
    font-size: 1.5em;
    font-style: italic;
}

